<h1>Teams</h1>

<%= link_to 'New Team', new_team_path, class: "button radius small" %>

<br>
<strong>
  <hr>
  A simple way for large teams to pair off in duos.
  <hr>
</strong>
<br>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Team Info</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td><h6><%= link_to "Organize Pairs", team %></h6></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>