<h1>Listing teams</h1>

<%= link_to 'New Team', new_team_path, class: "button radius" %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Team Profile</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.description %></td>
        <td><%= link_to 'Team Page', team %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

