Hello <%= @member.name.titleize %>
<br>
<br>
You are cordially invited on a 1-on-1 session.
<hr>
<h1>This Week's Pairs for team <%= @pairs.team.name %></h1>
<table>
  <thead>
    <th>Member 1</th>
    <th>Member 2</th>
  </thead>
<% @pairs.matches.each do |pair| %>
  <tr>
  <% pair.each do |member| %>
    <td><%= member.name %></td>
  <% end %>
  </tr>
<% end %>
</table>
<br>
<hr>

Be There or Be Square