label.right {
  padding-right: 10px;
}


.top-bar {
  min-height: 45px;
  margin: 0 0 30px 0;
}

.pair {
  float:right;
}



#delete {
  background-color: grey;
}

.reddit {
  float: right;
}

.brand {
  margin-left: 860px;
  border: 15px solid;
  float: right;
  margin-bottom: 20px;
}