label.right {
  padding-right: 10px;
}


.top-bar {
  min-height: 45px;
  margin: 0 0 30px 0;
}

.pair {
  float:right;
}

#one {
  float: right;
  padding-left: 400px;
  margin-top: -500px;
  margin-right: -350px;
}

#delete {
  background-color: grey;
}

.reddit {
  float: right;
}